.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.libgrid {
    display: grid;
}

.bookcard {
    text-align: center;
}

#bookentry {
    align-self:flex-end;
}
